@model OtoServisYonetimSistemi.Models.ForgotPasswordViewModel
@{
    ViewBag.Title = "Şifremi unuttum?";
}

<div class="container mt-3">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-md-6">
            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="form-group mt-3">
                    <input type="submit" class="btn btn-primary float-end" value="Mail gönder" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
